#rating label {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    font-size: 1.5rem;
    color: #faaf00;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}